* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.mainMenu {
    background-color: #6495ed;
}

.mainMenu-cntEmpresa {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #83a8ec;
}

.mainMenu-cntEmpresa-menu-des {
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.mainMenu-cntMenu {
    display: flex;
    justify-content: center;
}

.mainMenu-cntMenu-menu {
    list-style: none;
}

.mainMenu-cntMenu-menu--item {
    display: block;
    padding: 20px 30px;
}

.mainMenu-cntMenu-menu--item__link {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    display: block;
    text-align: center;
}

.cntCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    width: 280px;
    height: 380px;
    border: 2px solid #2e2929;
    border-radius: 20px;
    margin-top: 20px;
}

.card-image {
    display: flex;
    justify-content: center;
}

.card-image img {
    height: 230px;
    border-radius: 20px;
}

.card-descpr {
    padding-left: 0.5em;
}

.card-descpr p {
    margin: 7px 0 10px 0;
}

.card-descpr-title {
    font-size: 1.5em;
}

@media (min-width: 1200px) {
    .mainMenu-cntEmpresa {
        display: none;
    }

    .mainMenu-cntMenu-menu--item {
        display: inline-block;
        padding: 20px 30px;
    }

    .mainMenu-cntMenu-menu--item__link {
        color: #000;
        text-decoration: none;
        font-weight: bold;
    }

    .cntCards {
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 10px;
    }
}